/SEM 5/WEB TECH LAB (using java)/Practice/Practice1/nbproject/private/
/SEM 5/WEB TECH LAB (using java)/Practice/Practice1/build/
/SEM 5/WEB TECH LAB (using java)/Practice/Practice1/dist/
/SEM 5/CN LAB/SMTP/JavaEmail/target/
/SEM 5/CN LAB/SMTP/Mine/SimpleMail/nbproject/private/
/SEM 5/CN LAB/SMTP/Mine/SimpleMail/build/
/SEM 5/CN LAB/SMTP/SimpleMail/build/
/SEM 5/CN LAB/SMTP/SimpleMail/nbproject/private/
/SEM 5/CN LAB/POP3/POP/nbproject/private/
/SEM 5/CN LAB/POP3/POP/build/
/SEM 5/CN LAB/PING and Trace/Ping_Trace/nbproject/private/
/SEM 5/CN LAB/PING and Trace/Ping_Trace/build/
/SEM 5/WEB TECH LAB (using java)/SESSION 15 23-11-2022/JavaApplication5/nbproject/private/
/SEM 5/WEB TECH LAB (using java)/SESSION 15 23-11-2022/JavaApplication5/build/
/SEM 5/WEB TECH LAB (using java)/SESSION 15 23-11-2022/SWING1/nbproject/private/
/SEM 5/CN LAB/AssessPractice/SMTP/JavaApplication7/nbproject/private/
/SEM 5/CN LAB/AssessPractice/SMTP/JavaApplication7/build/
/SEM 5/CN LAB/AssessPractice/POP/Pop/nbproject/private/
/SEM 5/CN LAB/AssessPractice/POP/Pop/build/
/SEM 5/CN LAB/AssessPractice/New Folder/PT/nbproject/private/
/SEM 5/CN LAB/AssessPractice/New Folder/PT/build/
